<!DOCTYPE html>
<html lang="en">
  <!-- Head Contains all the metadata -->
  <head>
    <meta charset="utf-8">
    <title>Sigmiano Skibaldo</title>
    <meta name="author" content="Harry Bond">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general-styles.css">
  </head>

  <body>
    <header>
      <h1>Sigmiano Skibaldo</h1>
      <div id="horizontal-flex">
        <a href="/home"><h2>The<br>League</h2></a>
        <a href="/player-statistics"><h2>Player<br>Statistics</h2></a>
        <a href="/our-team"><h2>Our<br>Team</h2></a>
        <a style="background-color: white;" href="/as-it-stands-awards"><h2>As it Stands<br>Awards</h2></a>
      </div>
    </header>

    <main>
      <div id="horizontal-flex">
        <div id="vertical-flex">
          <h3></h3>
          <h5></h5>
          <h3 style="text-decoration: underline"></h3>
          <img id="profile-picture" src="images/<%= h @mostGoals.first_name %><%= h @mostGoals.second_name %>pp.png" alt="A picture of <%= h @mostGoals.first_name %> <%= h @mostGoals.second_name %>">
        </div>
        <div id="vertical-flex">
          <h3></h3>
          <h5></h5>
          <h3 style="text-decoration: underline"></h3>
          <img id="profile-picture" src="images/<%= h @mostMotm.first_name %><%= h @mostMotm.second_name %>pp.png" alt="A picture of <%= h @mostMotm.first_name %> <%= h @mostMotm.second_name %>">
        </div>
        <div id="vertical-flex">
          <h3></h3>
          <h5></h5>
          <h3 style="text-decoration: underline"></h3>
          <img id="profile-picture" src="images/<%= h @mostSkibs.first_name %><%= h @mostSkibs.second_name %>pp.png" alt="A picture of <%= h @mostSkibs.first_name %> <%= h @mostSkibs.second_name %>">
        </div>
      </div>
    </main>

    <footer>
      <h6>©Harry Bond</h6>
      <h6>2024</h6>
    </footer>
  </body>
</html>