<!DOCTYPE html>
<html lang="en">
  <!-- Head Contains all the metadata -->
  <head>
    <meta charset="utf-8">
    <title>Sigmiano Skibaldo</title>
    <meta name="author" content="Harry Bond">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/general-styles.css">
  </head>

    <body>
      <header>
        <h1>Sigmiano Skibaldo</h1>
        <div id="horizontal-flex">
          <a href="/home"><h2>The<br>League</h2></a>
          <a href="/player-statistics"><h2>Player<br>Statistics</h2></a>
          <a style="background-color: white;" href="/our-team"><h2>Our<br>Team</h2></a>
          <a href="/as-it-stands-awards"><h2>As it Stands<br>Awards</h2></a>
        </div>
      </header>

      <main>
        <h3>Our Skibaldos</h3>
        <!-- Goes through each player in the database in 2s for the row -->
        <% for id in (1..@players.count).step(2) %>
          <div id="pair-of-players">
            <% player = Player.first(id: id) %>
            <div id="vertical-flex">
              <h4><%= h player.first_name %> <%= h player.second_name %></h4>
              <div id="pair-of-players">
                <!-- Creates a player card for the first player and fills in details automatically -->
                <img id="profile-picture" src="images/HarryBondPicture.jpg" alt="A picture of Harry Bond"><!-- Replace with <img id="profile-picture" src="images/<#%= h player.first_name %><#%= h player.second_name %>Picture.jpg" alt="A picture of <#%= h player.first_name %> <#%= h player.second_name %>"> when all images have been input-->
                <div id="player-details">
                  <h5>Primary Position: <%= h player.primary_position %></h5>
                  <h5>Secondary Position: <%= h player.secondary_position.to_s %></h5>
                  <h5>Height: <%= h player.height %></h5>
                  <h5>Preffered Foot: <%= h player.preffered_foot %></h5>
                </div>
              </div>
            </div>
            <!-- Checks that a second player for the row exists -->
            <% unless Player.first(id: id+1).nil? %>
              <% player = Player.first(id: id+1) %>
              <div id="vertical-flex">
                <h4><%= h player.first_name %> <%= h player.second_name %></h4>
                <div id="pair-of-players">
                    <!-- Creates a player card for the second player and fills in details automatically -->
                    <img id="profile-picture" src="images/MatthewBondPicture.jpg" alt="A picture of Matthew Bond"><!-- Replace with <img id="profile-picture" src="images/<#%= h player.first_name %><#%= h player.second_name %>Picture.jpg" alt="A picture of <#%= h player.first_name %> <#%= h player.second_name %>"> when all images have been input-->
                    <div id="player-details">
                      <h5>Primary Position: <%= h player.primary_position %></h5>
                      <h5>Secondary Position: <%= h player.secondary_position.to_s %></h5>
                      <h5>Height: <%= h player.height %></h5>
                      <h5>Preffered Foot: <%= h player.preffered_foot %></h5>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </main>

      <footer>
        <h6>©HarryBond</h6>
        <h6>2024</h6>
      </footer>
    </body>
</html>